<!DOCTYPE html>
<!--[if lte IE 9]><html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js lte-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">

    <link rel="apple-touch-icon" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://resource.startup-autobahn.cn/resources/img/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="http://resource.startup-autobahn.cn/resources/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="http://resource.startup-autobahn.cn/resources/img/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="http://resource.startup-autobahn.cn/resources/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="http://resource.startup-autobahn.cn/resources/img/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="http://resource.startup-autobahn.cn/resources/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="http://resource.startup-autobahn.cn/resources/img/favicons/manifest.json">
    <link rel="mask-icon" href="http://resource.startup-autobahn.cn/resources/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/img/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>

<!-- build:title -->

    <link rel="alternate" hreflang="zh" href="http://www.startup-autobahn.cn/" />
    <link rel="alternate" hreflang="en" href="http://www.startup-autobahn.com/en/" />
    <link rel="alternate" hreflang="de" href="http://www.startup-autobahn.com/de/" />

    <meta name="robots" content="noodp" />
    <link rel="canonical" href="http://www.startup-autobahn.cn/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="STARTUP AUTOBAHN – No limits" />
    <meta property="og:description" content="The spirit of Silicon Valley. In the hub of mobility engineering. This is STARTUP AUTOBAHN. Apply until June 15th to start in September."
    />
    <meta property="og:url" content="http://www.startup-autobahn.cn/" />
    <meta property="og:site_name" content="Startup Autobahn" />
    <meta property="fb:app_id" content="1739553752993899" />
    <meta property="og:image" content="http://autobahn:8080/wp-content/uploads/2016/05/hero-fb-2.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="The spirit of Silicon Valley. In the hub of mobility engineering. This is STARTUP AUTOBAHN. Apply until June 15th to start in September."
    />
    <meta name="twitter:title" content="STARTUP AUTOBAHN – No limits" />
    <meta name="twitter:image" content="http://autobahn:8080/wp-content/uploads/2016/05/hero-fb-2.jpg" />
    <script type='application/ld+json'>{"@context":"http:\/\/schema.org","@type":"WebSite","url":"http:\/\/www.startup-autobahn.cn\/","name":"Startup Autobahn","potentialAction":{"@type":"SearchAction","target":"http:\/\/www.startup-autobahn.com\/en\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
    <!-- / Yoast SEO plugin. -->

    <link rel="alternate" type="application/rss+xml" title="Startup Autobahn &raquo; Feed" href="http://www.startup-autobahn.cn/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Startup Autobahn &raquo; Comments Feed" href="http://www.startup-autobahn.cn/comments/feed/" />

    <link rel='stylesheet' id='main-style-css' href='css/main.css' type='text/css' media='all' />
    <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/jquery-migrate-1.4.1.min.js'></script>

    <link rel='shortlink' href='http://www.startup-autobahn.cn/' />
    <link rel="alternate" type="application/json+oembed" href="http://www.startup-autobahn.cn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.startup-autobahn.com%2Fen%2F" />
    <link rel="alternate" type="text/xml+oembed" href="http://www.startup-autobahn.cn/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.startup-autobahn.com%2Fen%2F&#038;format=xml" />
    <meta name="generator" content="WPML ver:3.4.1 stt:1,3;" />
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
<!-- build:in_header -->
</head>

<body class="archive post-type-archive post-type-archive-news is--preload hfeed">
    <!-- build:preloader -->

    <div id="page" class="site">
        <div class="site-inner">

            <header id="masthead" class="header " role="banner">
                <div class="container">
                    <p class="logo header__logo">
                        <a href="http://www.startup-autobahn.cn/" class="logo__link" rel="home">
                            <svg class="hidden--mobile hidden--mini" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" width="222px" height="25.8px" viewBox="0 0 222 25.8" style="enable-background:new 0 0 222 25.8;"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M26.2,0H2.7C2.6,0,2.5,0.1,2.5,0.2L0,25.6c0,0,0,0.1,0,0.1c0,0,0.1,0.1,0.1,0.1h3.9c0.1,0,0.1,0,0.1-0.1L26.4,0.3c0-0.1,0.1-0.1,0-0.2C26.4,0,26.3,0,26.2,0z"
                                        />
                                        <path d="M57.2,25.5L35.1,0.1C35,0,35,0,34.9,0H31c-0.1,0-0.1,0-0.1,0.1c0,0-0.1,0.1,0,0.1l2.5,25.4c0,0.1,0.1,0.2,0.2,0.2h23.6c0.1,0,0.1,0,0.2-0.1C57.3,25.6,57.3,25.5,57.2,25.5z"
                                        />
                                    </g>
                                    <path d="M71.1,7.4v10.9h-1.7V7.4h-3.9V5.8H75v1.6H71.1z" />
                                    <path d="M82.3,14.8h-5.5l-1.3,3.5h-1.9l5-12.5h2l5,12.5h-1.9L82.3,14.8z M77.4,13.2h4.3l-2.2-5.6 L77.4,13.2z"
                                    />
                                    <path d="M90.7,13.2h-1.9v5.1h-1.7V5.8h4.7c2.4,0,3.8,1.7,3.8,3.7c0,1.8-1.1,3.2-3,3.5l3,5.2h-2 L90.7,13.2z M91.4,11.7c1.4,0,2.4-0.8,2.4-2.1c0-1.3-1-2.2-2.4-2.2h-2.6v4.3H91.4z"
                                    />
                                    <path d="M101.8,7.4v10.9H100V7.4h-3.9V5.8h9.5v1.6H101.8z" />
                                    <path d="M107.1,14.1V5.8h1.7V14c0,1.9,1,3,2.8,3c1.8,0,2.8-1.1,2.8-3V5.8h1.7v8.2c0,2.9-2,4.5-4.5,4.5 S107.1,17,107.1,14.1z"
                                    />
                                    <path d="M120.4,13.2v5.1h-1.7V5.8h4.5c2.3,0,3.9,1.6,3.9,3.7c0,2.1-1.6,3.7-3.9,3.7H120.4z M122.9,11.7 c1.5,0,2.4-0.8,2.4-2.1c0-1.3-0.9-2.2-2.4-2.2h-2.5v4.3H122.9z"
                                    />
                                    <path d="M135.6,15.5h-5.1l-1,2.9h-2.6l4.8-12.5h2.8l4.8,12.5h-2.6L135.6,15.5z M131.3,13.2h3.5 l-1.7-4.7L131.3,13.2z"
                                    />
                                    <path d="M140.2,13.9V5.8h2.4v7.9c0,1.6,0.9,2.5,2.4,2.5c1.5,0,2.4-0.9,2.4-2.5V5.8h2.4v8.1 c0,3.1-2.1,4.7-4.8,4.7C142.3,18.6,140.2,17,140.2,13.9z"
                                    />
                                    <path d="M157.3,8.1v10.2h-2.5V8.1h-3.7V5.8h9.8v2.3H157.3z" />
                                    <path d="M167.9,5.6c3.4,0,6.4,2.5,6.4,6.5c0,4-3,6.5-6.4,6.5c-3.4,0-6.4-2.5-6.4-6.5 C161.5,8,164.5,5.6,167.9,5.6z M167.9,16.2c1.9,0,3.9-1.3,3.9-4.2c0-2.8-2-4.2-3.9-4.2c-1.9,0-3.9,1.3-3.9,4.2 C164,14.9,166,16.2,167.9,16.2z"
                                    />
                                    <path d="M180.8,5.8c2.4,0,3.8,1.4,3.8,3.4c0,1.3-0.8,2.3-1.8,2.7c1.2,0.3,2.2,1.4,2.2,3 c0,2-1.5,3.5-3.9,3.5h-4.8V5.8H180.8z M180.4,11c1.1,0,1.8-0.6,1.8-1.6c0-1-0.6-1.6-1.8-1.6h-1.7V11H180.4z M180.7,16.3 c1.2,0,1.9-0.6,1.9-1.6c0-1-0.6-1.7-1.9-1.7h-2v3.3H180.7z"
                                    />
                                    <path d="M194.3,15.5h-5.1l-1,2.9h-2.6l4.8-12.5h2.8l4.8,12.5h-2.6L194.3,15.5z M190.1,13.2h3.5 l-1.7-4.7L190.1,13.2z"
                                    />
                                    <path d="M206.9,18.3v-5.2h-5.4v5.2H199V5.8h2.4v5h5.4v-5h2.5v12.5H206.9z" />
                                    <path d="M219.4,18.3l-5.7-8.9v8.9h-2.4V5.8h3l5.2,8.3V5.8h2.4v12.5H219.4z" />
                                    <path d="M61.7,11.4L59.8,11c-1.1-0.2-1.6-0.9-1.6-1.8c0-1.2,1-2.1,2.4-2.1c1.7,0,2.4,1.1,2.6,2l1.6-0.5 c-0.3-1.3-1.5-3-4.2-3c-2.3,0-4.1,1.8-4.1,3.7c0,1.9,1.3,3,3.1,3.4l1.8,0.4c1.3,0.3,1.9,1,1.9,1.9c0,1.1-0.8,2-2.6,2 c-1.8,0-2.8-1.2-3-2.6L55.9,15c0.3,1.8,1.7,3.6,4.7,3.6c2.7,0,4.3-1.8,4.3-3.7C64.9,13.1,63.8,11.8,61.7,11.4z"
                                    />
                                </g>
                            </svg>

                            <svg class="visible--mobile visible--mini" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                x="0px" y="0px" width="112px" height="20.4px" viewBox="0 0 112 20.4" enable-background="new 0 0 112 20.4"
                                xml:space="preserve">
                                <path d="M20,0.8H2C2,0.8,1.9,0.9,1.9,0.9L0,20.3l0,0.1l0.1,0h3l0.1,0L20.1,1c0,0,0-0.1,0-0.1C20.1,0.8,20,0.8,20,0.8"
                                />
                                <path d="M43.5,20.2L26.7,0.8l-0.1,0h-3l-0.1,0l0,0.1l1.9,19.3c0,0.1,0.1,0.1,0.1,0.1h17.9c0.1,0,0.1,0,0.1-0.1	C43.6,20.3,43.6,20.2,43.5,20.2"
                                />
                                <polyline points="57,1.3 57,8.9 55.8,8.9 55.8,1.3 53.1,1.3 53.1,0.2 59.7,0.2 59.7,1.3 57,1.3 "
                                />
                                <path d="M64.8,6.4h-3.8L60,8.9h-1.3l3.5-8.7h1.4L67,8.9h-1.3L64.8,6.4 M61.4,5.3h3l-1.5-3.9L61.4,5.3z"
                                />
                                <path d="M70.6,5.3h-1.3v3.6h-1.2V0.2h3.3C73,0.2,74,1.3,74,2.8C74,4,73.2,5,71.9,5.2l2.1,3.6h-1.4L70.6,5.3 M71.1,4.2c1,0,1.6-0.6,1.6-1.5c0-0.9-0.7-1.5-1.6-1.5h-1.8v3H71.1z"
                                />
                                <polyline points="78.3,1.3 78.3,8.9 77.1,8.9 77.1,1.3 74.4,1.3 74.4,0.2 81,0.2 81,1.3 78.3,1.3 "
                                />
                                <path d="M82,5.9V0.2h1.2v5.7c0,1.3,0.7,2.1,1.9,2.1c1.2,0,1.9-0.7,1.9-2.1V0.2h1.2v5.7c0,2-1.4,3.1-3.1,3.1 C83.3,9.1,82,8,82,5.9"
                                />
                                <path d="M91.2,5.3v3.6H90V0.2h3.2c1.6,0,2.7,1.1,2.7,2.6c0,1.5-1.1,2.6-2.7,2.6H91.2 M93,4.2c1,0,1.7-0.6,1.7-1.5 c0-0.9-0.6-1.5-1.7-1.5h-1.7v3H93z"
                                />
                                <path d="M52,17.9h-3.5l-0.7,2h-1.8l3.3-8.7h2l3.3,8.7h-1.8L52,17.9 M49,16.4h2.4l-1.2-3.3L49,16.4z"
                                />
                                <path d="M55.1,16.8v-5.6h1.7v5.5c0,1.1,0.6,1.7,1.6,1.7c1,0,1.7-0.6,1.7-1.7v-5.5h1.7v5.6c0,2.1-1.5,3.3-3.3,3.3 C56.6,20.1,55.1,19,55.1,16.8"
                                />
                                <polyline points="67.1,12.8 67.1,19.9 65.4,19.9 65.4,12.8 62.8,12.8 62.8,11.2 69.6,11.2 69.6,12.8 67.1,12.8 "
                                />
                                <path d="M74.4,11c2.4,0,4.5,1.7,4.5,4.5c0,2.8-2.1,4.5-4.5,4.5c-2.4,0-4.5-1.7-4.5-4.5C70,12.8,72.1,11,74.4,11 M74.4,18.4c1.3,0,2.7-0.9,2.7-2.9c0-2-1.4-2.9-2.7-2.9c-1.3,0-2.7,0.9-2.7,2.9C71.7,17.5,73.1,18.4,74.4,18.4z"
                                />
                                <path d="M83.4,11.2c1.7,0,2.6,1,2.6,2.3c0,0.9-0.5,1.6-1.3,1.9c0.8,0.2,1.5,1,1.5,2.1c0,1.4-1.1,2.4-2.7,2.4h-3.4 v-8.7H83.4 M83.1,14.8c0.8,0,1.2-0.4,1.2-1.1c0-0.7-0.4-1.1-1.2-1.1h-1.2v2.2H83.1z M83.3,18.5c0.8,0,1.3-0.4,1.3-1.1 c0-0.7-0.4-1.2-1.3-1.2h-1.4v2.3H83.3z"
                                />
                                <path d="M92.8,17.9h-3.5l-0.7,2h-1.8l3.3-8.7h2l3.3,8.7h-1.8L92.8,17.9 M89.8,16.4h2.4L91,13.1L89.8,16.4z"
                                />
                                <polyline points="101.5,19.9 101.5,16.3 97.7,16.3 97.7,19.9 96,19.9 96,11.2 97.7,11.2 97.7,14.7 101.5,14.7 101.5,11.2 103.2,11.2 103.2,19.9 101.5,19.9 "
                                />
                                <polyline points="110.2,19.9 106.3,13.7 106.3,19.9 104.6,19.9 104.6,11.2 106.7,11.2 110.3,17 110.3,11.2 112,11.2 112,19.9 110.2,19.9 "
                                />
                                <path d="M50.4,4l-1.3-0.3C48.4,3.6,48,3.1,48,2.5c0-0.8,0.7-1.4,1.7-1.4c1.1,0,1.7,0.8,1.8,1.4l1.1-0.3	c-0.2-0.9-1-2.1-2.9-2.1c-1.6,0-2.9,1.2-2.9,2.6c0,1.3,0.9,2.1,2.1,2.4l1.2,0.3C51,5.4,51.4,6,51.4,6.6c0,0.8-0.6,1.4-1.8,1.4 c-1.3,0-2-0.9-2.1-1.8l-1.2,0.4c0.2,1.2,1.2,2.5,3.2,2.5c1.8,0,3-1.2,3-2.6C52.7,5.3,51.9,4.4,50.4,4"
                                />
                            </svg>
                        </a>
                    </p>


                    <nav id="site-navigation" class="header__navigation" role="navigation" aria-label="Primary Menu">
                        <ul>
                            <li>
                                <a href="/#about" class=" ">关于</a>
                            </li>
                            <li>
                                <a href="/#program" class=" ">程序</a>
                            </li>
                            <li>
                                <a href="/#news" class=" ">新闻</a>
                            </li>
                            <li>
                                <a href="/#startups" class=" ">Startups</a>
                            </li>
                            <li>
                                <a href="/#album" class=" ">相册</a>
                            </li>
                            <li>
                                <a href="/#people" class=" ">成员</a>
                            </li>
                            <li>
                                <a href="/#partners" class=" ">合作伙伴</a>
                            </li>
                            <li>
                                <a href="/#contact" class="button button--bordered button--light ">联系我们</a>
                            </li>
                            <li>
                                <a href="http://startup-autobahn-china.mikecrm.com/6iDcpRP" class="button hidden--mobile hidden--tablet hidden--tablet-portrait" target="_blank">报名</a>
                            </li>

                            <!-- <li class="language">
                                <a href="http://www.startup-autobahn.cn/" class="language__item language--active">中文</a>
                                <a href="http://www.startup-autobahn.com/en/" class="language__item">EN</a>
                                <a href="http://www.startup-autobahn.com/de/" class="language__item">DE</a>
                            </li> -->
                        </ul>
                    </nav>
                    <!-- .main-navigation -->

                    <span class="toggle-menu hidden--desktop">
                        <span class="toggle-menu__burger"></span>
                    </span>
                    <a href="http://www.startup-autobahn.cn/apply-now/" class="button header__menu-button">报名</a>

                </div>
            </header>
            <!-- .site-header -->

            <div id="content" class="site-content">

                <main id="main" class="site-main" role="main">
<!-- build:content -->
                </main>
                <!-- .site-main -->


                </div>
                <!-- .site-content -->

                <footer id="colophon" class="footer" role="contentinfo">
                    <div class="footer__social">
                        <div class="container">
                            <div class="newsletter-component">
                                <form class="form form__newsletter">
                                    <span class="form__title">联系方式</span>
                                    <div class="form__field">
                                        <input class="form__input" name="user_email" placeholder="留下您的邮箱地址" type="text" value="">
                                    </div>
                                    <div class="form__submit">
                                        <input class="form__button" id="submit-button" type="submit" value="›">
                                    </div>
                                    <div class="newsletter__success" style="display: none">Thank you for subscribing</div>
                                    <div class="newsletter__error" style="display: none">There has been an error, please try again later</div>
                                </form>
                            </div>

                            <ul class="social">
                                <li class="social__item">
                                    <a target="_blank" class="social__link social__link--facebook" href="https://www.facebook.com/StartupAutobahn/">Facebook</a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" class="social__link social__link--twitter" href="https://twitter.com/StartupAutobahn">Twitter</a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" class="social__link social__link--youtube" href="https://www.youtube.com/channel/UCRvI70vBDeU4vaU0pz_ylGg">YouTube</a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" class="social__link social__link--weixin" href="https://mp.weixin.qq.com/s/MUoi0BcEVVeKqNLKG1FlJA">weixin</a>
                                </li>
                                <li class="social__item">
                                    <a target="_blank" class="social__link social__link--linkedin" href="http://bit.ly/1UdJBk1">Linked in</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--<div class="footer__social">-->
                        <!--<div class="container">-->
                            <!--<div class="email-submit">-->
                                <!--<div><h3>联系方式</h3></div>-->
                                <!--<div>-->
                                    <!--<input name="email" type="text" class="form__input" placeholder="留下您的邮箱地址">-->
                                <!--</div>-->
                                <!--<div class="newsletter-btn"><img src="/img/contact_btn.png" alt=""></div>-->
                            <!--</div>-->
                            <!--<ul class="social">-->
                                <!--<li class="social__item"><a href="javascript:;" target="_blank" class="social__link social__link&#45;&#45;facebook"></a></li>-->
                                <!--<li class="social__item"><a href="javascript:;" target="_blank" class="social__link social__link&#45;&#45;twitter"></a></li>-->
                                <!--<li class="social__item"><a href="javascript:;" target="_blank" class="social__link social__link&#45;&#45;youtube"></a></li>-->
                                <!--<li class="social__item"><a href="javascript:;" target="_blank" class="social__link social__link&#45;&#45;weixin"></a></li>-->
                                <!--<li class="social__item"><a href="javascript:;" target="_blank" class="social__link social__link&#45;&#45;linkedin"></a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="container">
                        <p class="logo footer__logo">
                            <a href="http://www.startup-autobahn.cn/" class="logo__link" rel="home">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="222px"
                                    height="33px" viewBox="-324 258 222 33" enable-background="new -324 258 222 33" xml:space="preserve">
                                    <g id="XMLID_484_">
                                        <path id="XMLID_596_" fill="#FFFFFF" d="M-234.3,286v-5.4h0.7v0.6c0.2-0.4,0.7-0.7,1.3-0.7c1.2,0,1.8,0.9,1.8,2 c0,1.2-0.7,2.1-1.8,2.1c-0.6,0-1.1-0.3-1.3-0.6v2.1L-234.3,286 M-232.4,281.2c-0.7,0-1.2,0.6-1.2,1.4c0,0.8,0.5,1.4,1.2,1.4 c0.7,0,1.1-0.6,1.1-1.4C-231.3,281.8-231.7,281.2-232.4,281.2z"
                                        />
                                        <path id="XMLID_593_" fill="#FFFFFF" d="M-226,282.5c0,1.2-0.8,2.1-2,2.1c-1.2,0-2-0.9-2-2.1c0-1.2,0.8-2.1,2-2.1 C-226.8,280.5-226,281.3-226,282.5 M-226.7,282.5c0-0.9-0.6-1.4-1.2-1.4c-0.6,0-1.2,0.5-1.2,1.4c0,0.9,0.6,1.4,1.2,1.4 C-227.3,283.9-226.7,283.4-226.7,282.5z"
                                        />
                                        <polyline id="XMLID_592_" fill="#FFFFFF" points="-222.1,280.6 -221.1,283.5 -220.2,280.6 -219.4,280.6 -220.7,284.5 -221.5,284.5 -222.5,281.5 -223.5,284.5 -224.3,284.5 -225.6,280.6 -224.8,280.6 -223.9,283.5 -222.9,280.6 -222.1,280.6 "
                                        />
                                        <path id="XMLID_589_" fill="#FFFFFF" d="M-215.4,283.4c-0.2,0.7-0.8,1.2-1.7,1.2c-1,0-2-0.8-2-2.1c0-1.2,0.9-2.1,1.9-2.1 c1.2,0,1.9,0.8,1.9,2c0,0.1,0,0.2,0,0.2h-2.9c0,0.7,0.5,1.2,1.2,1.2c0.6,0,0.9-0.3,1.1-0.8L-215.4,283.4 M-216.1,282.1 c0-0.6-0.4-1-1.1-1c-0.6,0-1,0.5-1.1,1H-216.1z"
                                        />
                                        <path id="XMLID_588_" fill="#FFFFFF" d="M-212.3,281.4c-0.1,0-0.2,0-0.3,0c-0.6,0-1.1,0.3-1.1,1.2v1.9h-0.8v-3.9h0.7v0.7 c0.3-0.6,0.8-0.7,1.2-0.7c0.1,0,0.2,0,0.2,0L-212.3,281.4"
                                        />
                                        <path id="XMLID_585_" fill="#FFFFFF" d="M-208.2,283.4c-0.2,0.7-0.8,1.2-1.7,1.2c-1,0-2-0.8-2-2.1c0-1.2,0.9-2.1,1.9-2.1 c1.2,0,1.9,0.8,1.9,2c0,0.1,0,0.2,0,0.2h-2.9c0,0.7,0.5,1.2,1.2,1.2c0.6,0,0.9-0.3,1.1-0.8L-208.2,283.4 M-208.9,282.1 c0-0.6-0.4-1-1.1-1c-0.6,0-1,0.5-1.1,1H-208.9z"
                                        />
                                        <path id="XMLID_542_" fill="#FFFFFF" d="M-204.5,283.9c-0.2,0.4-0.6,0.7-1.2,0.7c-1.1,0-1.8-0.9-1.8-2.1c0-1.1,0.7-2,1.8-2 c0.7,0,1.1,0.3,1.2,0.7v-2.5h0.8v5.1c0,0.4,0,0.7,0,0.7h-0.7C-204.5,284.4-204.5,284.2-204.5,283.9L-204.5,283.9 M-205.6,283.9 c0.7,0,1.1-0.6,1.1-1.4c0-0.8-0.4-1.3-1.1-1.3c-0.7,0-1.1,0.6-1.1,1.4C-206.8,283.3-206.4,283.9-205.6,283.9z"
                                        />
                                        <path id="XMLID_539_" fill="#FFFFFF" d="M-200.6,284.5v-5.9h0.8v2.5c0.2-0.3,0.6-0.7,1.3-0.7c1.2,0,1.8,0.9,1.8,2 c0,1.2-0.7,2.1-1.8,2.1c-0.6,0-1-0.2-1.3-0.7v0.6L-200.6,284.5 M-198.7,281.1c-0.7,0-1.2,0.5-1.2,1.4c0,0.8,0.5,1.4,1.2,1.4 c0.7,0,1.1-0.5,1.1-1.4C-197.6,281.7-198,281.1-198.7,281.1z"
                                        />
                                        <polyline id="XMLID_538_" fill="#FFFFFF" points="-195.7,286.1 -194.8,284 -196.4,280.6 -195.6,280.6 -194.4,283.3 -193.2,280.6 -192.4,280.6 -194.9,286.1 -195.7,286.1 "
                                        />
                                        <path id="XMLID_535_" fill="#FFFFFF" d="M-182.8,279.5v1.4c0,1.7-0.8,2.7-2.6,2.7h-0.8v4.1h-1.7v-10.9h2.5 C-183.7,276.8-182.8,277.8-182.8,279.5 M-186.2,278.4v3.7h0.8c0.5,0,0.8-0.2,0.8-1v-1.6c0-0.8-0.3-1-0.8-1 C-185.4,278.4-186.2,278.4-186.2,278.4z"
                                        />
                                        <polyline id="XMLID_534_" fill="#FFFFFF" points="-182.2,276.8 -180.5,276.8 -180.5,286.1 -177.7,286.1 -177.7,287.7 -182.2,287.7 -182.2,276.8 "
                                        />
                                        <path id="XMLID_533_" fill="#FFFFFF" d="M-175.5,276.8v8.4c0,0.8,0.3,1.1,0.9,1.1c0.5,0,0.9-0.3,0.9-1.1v-8.4h1.6v8.3 c0,1.7-0.9,2.7-2.5,2.7c-1.7,0-2.5-1-2.5-2.7v-8.3H-175.5"
                                        />
                                        <path id="XMLID_532_" fill="#FFFFFF" d="M-168.5,281.6h2.4v3.4c0,1.7-0.9,2.7-2.5,2.7c-1.7,0-2.6-1-2.6-2.7v-5.6 c0-1.7,0.9-2.7,2.6-2.7c1.7,0,2.5,1,2.5,2.7v1.1h-1.6v-1.2c0-0.8-0.3-1.1-0.9-1.1s-0.9,0.3-0.9,1.1v5.9c0,0.8,0.3,1.1,0.9,1.1 s0.9-0.3,0.9-1.1v-2h-0.8V281.6"
                                        />
                                        <path id="XMLID_529_" fill="#FFFFFF" d="M-160.8,286.5h-1.3l-0.2-1.5h-1.6l-0.2,1.5h-1.2l1.4-8.5h1.9L-160.8,286.5 M-163.9,283.8 h1.3l-0.6-4.3L-163.9,283.8z"
                                        />
                                        <polyline id="XMLID_528_" fill="#FFFFFF" points="-159.2,280.3 -159.2,286.5 -160.3,286.5 -160.3,278 -158.7,278 -157.3,283.1 -157.3,278 -156.1,278 -156.1,286.5 -157.5,286.5 -159.2,280.3 "
                                        />
                                        <path id="XMLID_525_" fill="#FFFFFF" d="M-155.3,278h2.1c1.3,0,2,0.7,2,2.1v4.3c0,1.4-0.7,2.1-2,2.1h-2.1V278 M-154,279.2v6h0.8 c0.4,0,0.7-0.2,0.7-0.8V280c0-0.6-0.3-0.8-0.7-0.8L-154,279.2L-154,279.2z"
                                        />
                                        <path id="XMLID_522_" fill="#FFFFFF" d="M-145.4,279.5v1.4c0,1.7-0.8,2.7-2.6,2.7h-0.8v4.1h-1.7v-10.9h2.5 C-146.3,276.8-145.4,277.8-145.4,279.5 M-148.8,278.4v3.7h0.8c0.5,0,0.8-0.2,0.8-1v-1.6c0-0.8-0.3-1-0.8-1 C-148,278.4-148.8,278.4-148.8,278.4z"
                                        />
                                        <polyline id="XMLID_521_" fill="#FFFFFF" points="-144.8,276.8 -143.1,276.8 -143.1,286.1 -140.3,286.1 -140.3,287.7 -144.8,287.7 -144.8,276.8 "
                                        />
                                        <path id="XMLID_518_" fill="#FFFFFF" d="M-134.2,287.7h-1.7l-0.3-2h-2.1l-0.3,2h-1.6l1.7-10.9h2.5L-134.2,287.7 M-138.1,284.2h1.7 l-0.8-5.5L-138.1,284.2z"
                                        />
                                        <polyline id="XMLID_517_" fill="#FFFFFF" points="-132.7,284.1 -134.9,276.8 -133.1,276.8 -131.8,281.8 -130.5,276.8 -128.8,276.8 -131,284.1 -131,287.7 -132.7,287.7 -132.7,284.1 "
                                        />
                                        <path id="XMLID_516_" fill="#FFFFFF" d="M-290.4,258h-30.1c-0.1,0-0.2,0.1-0.2,0.2l-3.2,32.5l0.1,0.2l0.2,0.1h5l0.2-0.1l28.3-32.5 c0.1-0.1,0.1-0.2,0-0.2C-290.3,258-290.3,258-290.4,258"
                                        />
                                        <path id="XMLID_515_" fill="#FFFFFF" d="M-250.8,290.6l-28.3-32.5l-0.2-0.1h-5l-0.2,0.1l-0.1,0.2l3.2,32.5c0,0.1,0.1,0.2,0.2,0.2 h30.1c0.1,0,0.2-0.1,0.2-0.1C-250.7,290.7-250.8,290.6-250.8,290.6"
                                        />
                                        <polyline id="XMLID_514_" fill="#FFFFFF" points="-238.2,263.2 -238.2,273 -239.8,273 -239.8,263.2 -243.3,263.2 -243.3,261.7 -234.7,261.7 -234.7,263.2 -238.2,263.2 "
                                        />
                                        <path id="XMLID_511_" fill="#FFFFFF" d="M-228.1,269.9h-5l-1.2,3.2h-1.7l4.5-11.3h1.8l4.5,11.3h-1.7L-228.1,269.9 M-232.5,268.4 h3.9l-2-5.1L-232.5,268.4z"
                                        />
                                        <path id="XMLID_508_" fill="#FFFFFF" d="M-220.5,268.4h-1.7v4.6h-1.6v-11.3h4.3c2.1,0,3.5,1.5,3.5,3.4c0,1.6-1,2.9-2.7,3.2l2.7,4.7 h-1.8L-220.5,268.4 M-219.8,267c1.3,0,2.1-0.7,2.1-1.9c0-1.2-0.9-2-2.1-2h-2.4v3.9L-219.8,267L-219.8,267z"
                                        />
                                        <polyline id="XMLID_507_" fill="#FFFFFF" points="-210.5,263.2 -210.5,273 -212.1,273 -212.1,263.2 -215.6,263.2 -215.6,261.7 -207,261.7 -207,263.2 -210.5,263.2 "
                                        />
                                        <path id="XMLID_506_" fill="#FFFFFF" d="M-205.7,269.2v-7.4h1.5v7.4c0,1.7,0.9,2.7,2.5,2.7c1.6,0,2.5-1,2.5-2.7v-7.4h1.6v7.4 c0,2.7-1.8,4.1-4.1,4.1C-203.9,273.2-205.7,271.8-205.7,269.2"
                                        />
                                        <path id="XMLID_503_" fill="#FFFFFF" d="M-193.7,268.4v4.6h-1.6v-11.3h4.1c2.1,0,3.5,1.4,3.5,3.3c0,1.9-1.4,3.3-3.5,3.3H-193.7 M-191.5,267c1.4,0,2.2-0.7,2.2-1.9c0-1.2-0.8-2-2.2-2h-2.3v3.9L-191.5,267L-191.5,267z"
                                        />
                                        <path id="XMLID_500_" fill="#FFFFFF" d="M-180,270.4h-4.6l-0.9,2.6h-2.3l4.3-11.3h2.5l4.3,11.3h-2.4L-180,270.4 M-183.8,268.4h3.1 l-1.6-4.3L-183.8,268.4z"
                                        />
                                        <path id="XMLID_499_" fill="#FFFFFF" d="M-175.9,269v-7.3h2.2v7.1c0,1.5,0.8,2.3,2.1,2.3c1.3,0,2.2-0.8,2.2-2.3v-7.1h2.2v7.3 c0,2.8-1.9,4.2-4.3,4.2C-173.9,273.3-175.9,271.8-175.9,269"
                                        />
                                        <polyline id="XMLID_498_" fill="#FFFFFF" points="-160.4,263.8 -160.4,273 -162.6,273 -162.6,263.8 -165.9,263.8 -165.9,261.7 -157.1,261.7 -157.1,263.8 -160.4,263.8 "
                                        />
                                        <path id="XMLID_495_" fill="#FFFFFF" d="M-150.8,261.5c3.1,0,5.8,2.2,5.8,5.9c0,3.6-2.7,5.9-5.8,5.9c-3.1,0-5.8-2.2-5.8-5.9 C-156.6,263.7-153.9,261.5-150.8,261.5 M-150.8,271.1c1.8,0,3.5-1.2,3.5-3.8c0-2.5-1.8-3.8-3.5-3.8c-1.7,0-3.5,1.2-3.5,3.8 C-154.3,269.9-152.6,271.1-150.8,271.1z"
                                        />
                                        <path id="XMLID_491_" fill="#FFFFFF" d="M-139.2,261.7c2.2,0,3.4,1.3,3.4,3c0,1.2-0.7,2.1-1.6,2.4c1.1,0.3,2,1.3,2,2.7 c0,1.8-1.4,3.2-3.5,3.2h-4.4v-11.3H-139.2 M-139.5,266.4c1,0,1.6-0.6,1.6-1.4c0-0.9-0.6-1.4-1.6-1.4h-1.5v2.8H-139.5z M-139.3,271.2c1.1,0,1.7-0.6,1.7-1.5c0-0.9-0.6-1.5-1.7-1.5h-1.8v3L-139.3,271.2L-139.3,271.2z"
                                        />
                                        <path id="XMLID_488_" fill="#FFFFFF" d="M-127,270.4h-4.6l-0.9,2.6h-2.3l4.3-11.3h2.5l4.3,11.3h-2.4L-127,270.4 M-130.8,268.4h3.1 l-1.6-4.3L-130.8,268.4z"
                                        />
                                        <polyline id="XMLID_487_" fill="#FFFFFF" points="-115.6,273 -115.6,268.3 -120.5,268.3 -120.5,273 -122.7,273 -122.7,261.7 -120.5,261.7 -120.5,266.3 -115.6,266.3 -115.6,261.7 -113.4,261.7 -113.4,273 -115.6,273 "
                                        />
                                        <polyline id="XMLID_486_" fill="#FFFFFF" points="-104.3,273 -109.4,265 -109.4,273 -111.6,273 -111.6,261.7 -108.9,261.7 -104.2,269.2 -104.2,261.7 -102,261.7 -102,273 -104.3,273 "
                                        />
                                        <path id="XMLID_485_" fill="#FFFFFF" d="M-246.7,266.7l-1.7-0.4c-1-0.2-1.4-0.8-1.4-1.6c0-1.1,0.9-1.9,2.2-1.9c1.5,0,2.2,1,2.4,1.8 l1.4-0.4c-0.3-1.2-1.3-2.7-3.8-2.7c-2.1,0-3.7,1.6-3.7,3.4c0,1.7,1.1,2.7,2.8,3.1l1.6,0.4c1.1,0.2,1.7,0.9,1.7,1.8 c0,1-0.8,1.8-2.3,1.8c-1.7,0-2.5-1.1-2.7-2.3l-1.5,0.5c0.2,1.6,1.5,3.3,4.2,3.3c2.4,0,3.9-1.6,3.9-3.3 C-243.8,268.3-244.8,267.2-246.7,266.7"
                                        /> </g>
                                </svg>
                            </a>
                        </p>

                        <nav id="site-navigation" class="footer__navigation" role="navigation" aria-label="footer Menu">
                            <ul>
                                <li>
                                    &copy; 2018 Startup Autobahn
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备17066351号-2</a>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502035123"><img src="http://resource.startup-autobahn.cn/resources/img/beian.png">京公网安备 11010502035123号</a >
                                </li>
                                <li>
                                    <a href="#overlay-imprint" class="has--overlay ">联系我们</a>
                                </li>
                                <li>
                                    <a href="#overlay-privacy" class="has--overlay ">法律声明</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- .main-navigation -->
                    </div>
                </footer>
                <!-- .site-footer -->
            </div>
            <!-- .site-inner -->
        </div>
        <!-- .site -->


        <div class="overlay">
            <div class="overlay__content" id="overlay-imprint">
                <div class="overlay__wrapper">

                    <h2>联系我们</h2>

                    <p>DITC地址:
                        <br /> 北京市
                        <br /> 朝阳区
                        <br /> 望京街8号
                        <br /> 利星行广场B座605
                    </p>
                    <p>联系人:
                        <br /> 崔行健
                        <br /> 联系电话:
                        13810998114 / 010 8417 5282
                        <br /> Email:
                        <a href="mailto:xingjian.cui@daimler.com">xingjian.cui@daimler.com</a>
                    </p>
                    <p>Image Copyright by StartupAutobahn and Daimler AG</p>


                </div>

                <a href="#" class="overlay__close">
                    <span class="hidden">关闭</span>
                </a>
            </div>

            <div class="overlay__content" id="overlay-privacy">
                <div class="overlay__wrapper">
                    <h2>法律声明</h2>
                    <h3>法律声明</h3>
                    <p>本网站由戴姆勒大中华区投资有限公司（以下简称“戴姆勒中国”）创建并运行维护。任何人进入本网站、阅读任何内容、进行用户注册、从本网站下载任何材料或使用本网站提供的资料，即表示同意遵守下列条款。这些条款构成戴姆勒中国与您之间的协议。若不同意遵守这些条款，切勿使用本网站。戴姆勒中国保留未经通知随时更新下列条款的权利，这些更新将同样也约束您。任何时间，任何情况下，戴姆勒中国均有权拒绝任何用户进入、使用本网站。</p>
                    <p>戴姆勒中国保留随时更正、修改、更新本声明的权利。</p>

                    <h3>版权声明</h3>
                    <p>戴姆勒中国独立拥有本网站相关网页内所有资料的版权，或与本网站相关网页内的资料提供者共同拥有该网页内资料的版权。未经戴姆勒中国的明确书面许可，对于本网站上的任何内容，任何人不得对其进行复制或在非戴姆勒中国所属的服务器上做镜像。</p>
                    <p>本网站所载述的域名、商标、文字、视像及声音内容、图形及图像均受有关商标和著作权的法律保护。未经戴姆勒中国事先以书面明确的允许，任何企业或个人不得以任何形式复制或传递。任何未经授权使用本网站的行为都将违反《中华人民共和国著作权法》和其他相关法律法规以及有关国际公约的规定。</p>

                    <h3>免责条款</h3>
                    <p>对本网站的内容，我们不提供任何形式的明示的或默示的关于内容的正确性、及时性、有效性、稳定性、可用性、不侵犯他人权利等方面的保证；
                        不保证服务器的稳定性，不保证您任何时候均可浏览、阅读、复制、使用本网站；
                        不保证网站内容所包含的文字、图形、材料、链接、说明、陈述或其它事项的准确性或完整性，也不保证本网站的内容不存在打印、复制及其他输入方面的错误。
                        戴姆勒中国可随时更改本网站内容，无须另作通知。</p>
                    <p>用户使用本网站服务所存在的风险将和产生的一切后果由其自己承担。
                        在任何情况下，对于因使用本网站内容或无法进入本网站而导致的任何直接的、间接的、附带的、给第三人造成的损失(包括但不限于利润损失、信息数据丢失、财产毁坏等损失)，
                        本网站都无须承担任何法律责任。</p>
                    <h3>戴姆勒中国对本网站和其内容的不能使用和使用错误不承担任何责任</h3>
                    <p>任何情况下，戴姆勒中国及相关人对于进入或使用本网站引起的任何依赖本网站内容而做出的决定或采取的行动不承担任何责任，对进入或使用本网站而产生的任何直接的、间接的、惩罚性的损失，或其他任何形式的损失包括但不限于业务中断、数据丢失或利润损失不承担任何责任。</p>
                    <p>本网站转载的相关文章、资料中表述或暗示的观点不代表戴姆勒中国的观点。对于本网站所转载的信息如有著作权争议，请与我们联系并提供相应的证明资料。</p>
                    <p>网站上所展示的第三方网站的链接并不构成我们对该第三方网站的保证，我们对于这些网站及其内容的有效性不负有责任。访问这些网站的超链接的风险由用户承担。</p>
                    <p>戴姆勒中国以及相关人对于第三人采用非法手段进入本网站取得有关密码、资料和内容而引起的任何直接及间接损害或损失不承担任何责任。</p>

                    <h3>保护用户隐私权</h3>
                    <p>我们尊重广大用户的隐私，未经用户的同意，我们不搜集用户的资料。对于因服务的需要而掌握的用户名、电子邮件、信息和地址等我们承诺非经用户允许，不向任何第三方出售或提供。</p>
                    <p>戴姆勒中国不会公布或传播用户在本网站注册的任何资料，但下列情况除外：
                        <ul>
                            <li>事先获得用户的明确授权；</li>
                            <li>依据法院、仲裁机构的裁判或裁决，以及其他司法程序的要求；</li>
                            <li>按照相关政府主管部门的要求；</li>
                            <li>用户违反使用条款的规定或有其他损害戴姆勒中国利益的行为；</li>
                            <li>其他有关法律法规的要求。</li>
                        </ul>
                    </p>
                    <p>用户如希望使用本网站需注册后才能够提供的服务，应同意以下事项：
                        依本网站服务注册表之提示提供您本人真实、正确、最新及完整的资料，并随时更新登记资料，确保其为真实、正确、最新及完整的资料。
                        若您提供任何错误、不实、过时或不完整或具误导性的资料，或者本网站有理由怀疑前述资料为错误、不实、过时或不完整或具误导性的，本网站有权暂停或终止您的帐号，
                        并拒绝您于现在和未来使用本网站所提供服务之全部或任何部分。</p>

                    <h3>商标与域名声明</h3>
                    <p>本网站（<a href="http://www.startup-autobahn.cn/">http://www.startup-autobahn.cn/</a>）使用的所有图案及文字商标均为戴姆勒大中华区投资有限公司在中国和/或其他国家的注册商标或商标，
                        未经戴姆勒中国书面授权，任何单位或个人不得以任何方式使用上述商标。</p>
                    <p><a href="http://www.startup-autobahn.cn/">http://www.startup-autobahn.cn/</a>的域名为戴姆勒中国所有。未经戴姆勒中国书面授权，任何单位或个人不得使用。</p>

                    <h3>指向本网站的链接</h3>
                    <p>如希望作指向到本网站的链接，请联络我们；在获得戴姆勒中国的书面许可后，方可链接本网站。</p>
                    <p>在建立链接后，如戴姆勒中国根据客观情况认为不再合适链接时，有权取消对链接的许可。</p>
                    <p>在链接到本网站时，请务必使用文本链接（如无戴姆勒中国的书面许可，禁止使用戴姆勒中国图案及文字的链接方式）；点击本网站链接要设定成另开窗口显示的形式，不能显示在链接方网站的框架内部。</p>

                    <h3>其他网站的链接</h3>
                    <p>本网站中所链接的戴姆勒中国以外的网站，不在戴姆勒中国的管理之下。
                        对因通过戴姆勒中国网站访问其他链接网站而发生的任何损害，戴姆勒中国不承担任何责任。
                        访问链接网站时，请遵循其链接网站的使用条款及相关法律法规的规定。</p>
                    <p>戴姆勒中国仅为方便访问而提供他方网站的链接，并非是对链接网站的使用及其登载商品/服务等进行推举，
                        并不意味着戴姆勒中国与所链接网站的公司、个人之间有着联合、协作等特殊关系，
                        也并不表示戴姆勒中国认可或承担其他网站内容或使用上的责任。</p>

                    <h3>本站下载资源的使用</h3>
                    <p>如果从本站进行任何下载行为，使用方应遵守该资源携带的相关许可协议中所有的许可条款。
                        在阅读并接受许可协议的各项条款之前，任何人不得下载或安装本站资源。</p>

                    <h3>病毒免责条款</h3>
                    <p>任何人在进入、使用、浏览戴姆勒中国网站时，感染病毒，戴姆勒中国不承担任何责任。通过戴姆勒中国链接到第三方网站而感染病毒的，戴姆勒中国不承担任何责任。</p>

                    <h3>终止条款</h3>
                    <p>无论是否在此协议所规定的条款下或其他情况下，只要你将所有的从本网站获得的软件、文件和一切相关材料销毁，即构成本协议的终止。</p>

                    <h3>法律适用和管辖</h3>
                    <p>任何有关本网站和网站声明的争议、纠纷，均适用中华人民共和国法律。
                        任何有关本网站和网站声明的争议，应由戴姆勒中国所在地的人民法院管辖。
                        如中华人民共和国法律的修改使上述任何条款成为非法，各方将同意由戴姆勒中国对上述条款做出修改。</p>

                    <h4>本声明的解释权及对本网站使用的解释权归结于戴姆勒中国所有。</h4>
                </div>

                <a href="#" class="overlay__close">
                    <span class="hidden">关闭</span>
                </a>
            </div>

        </div>

    <div class="mask"></div>

        <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/modernizr.min.js'></script>
        <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/skip-link-focus-fix.js'></script>
        <script type='text/javascript'>
/* <![CDATA[ */
            var screenReaderText = { "expand": "expand child menu", "collapse": "collapse child menu" };
/* ]]> */
        </script>
        <script type='text/javascript' src='js/jquery.http.js'></script>
        <script type='text/javascript' src='js/startup.js'></script>
        <!-- build:lastScript -->
        <script type='text/javascript' src='js/functions.js'></script>
        <script type='text/javascript' src='js/bundle.js'></script>
        <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/wp-embed.min.js'></script>
        <script type='text/javascript'>
            /* <![CDATA[ */
            var icl_vars = { "current_language": "en", "icl_home": "http:\/\/www.startup-autobahn.cn\/", "ajax_url": "http:\/\/www.startup-autobahn.cn\/wp-admin\/admin-ajax.php", "url_type": "1" };
/* ]]> */
        </script>
        <script type='text/javascript' src='http://resource.startup-autobahn.cn/resources/js/sitepress.js'></script>
<!-- build:last_body -->
</body>

</html>
